In [1]:
# converting datatype to another datatype

In [4]:
#int to float
#int to string
#int to boolean
#float to int
#float to string
#float to boolean
#string ti int
#string to float
#string to bool
#bool to int
#bool to float
#bool to string

In [10]:
#integer to float,string and boolean

In [7]:
name=100
floatname=float(name)
print(name)
type(name)
print(floatname)
type(floatname)

100
100.0

float

In [8]:
x=200
print("float conversion is",float(x))
print("string conversion is",str(x))
print("bool conversion is ",bool(x))

float conversion is 200.0
string conversion is 200
bool conversion is  True

In [9]:
num2=0
float(num2),str(num2),bool(num2)

(0.0, '0', False)

In [11]:
#for integr to convert to boolean we will get false for zero(0) only for all other values it will be true

In [12]:
#float to other

In [13]:
y=1000.1
type(y)

float

In [14]:
print("intger conversion",int(y))
print("string conversion",str(y))
print("boolean conversion",bool(y))

intger conversion 1000
string conversion 1000.1
boolean conversion True

In [15]:
z=0.5
int(z),str(z),bool(z)

(0, '0.5', True)

In [16]:
#string to other datatypes

In [17]:
str="python"
int(str)

ValueError: invalid literal for int() with base 10: 'python'

In [18]:
float(str)

ValueError: could not convert string to float: 'python'

In [19]:
bool(str)

True

In [22]:
str1=""
bool(str1)

False

In [27]:
#case2 very Important the data in the string is number but in string form

In [24]:
str2="10"
int(str2)

10

In [25]:
float(str2)

10.0

In [26]:
bool(str2)

True

In [28]:
# case3 for float value in string

In [34]:
e="10.4"
float(e),bool(e)

(10.4, True)

In [30]:
int(e) #for this the result will be error

ValueError: invalid literal for int() with base 10: '10.4'

In [32]:
float(e)

10.4

In [35]:
## note point
#float representation of string works only for float conversion

In [36]:
#boolean to other datatypes

In [45]:
bool1=True
int(bool1),float(bool1)

(1, 1.0)

In [38]:
int(bool1)

1

In [39]:
float(bool1)

1.0

In [40]:
str(bool1)

TypeError: 'str' object is not callable

In [46]:
bool2=False

In [47]:
int(bool2)

0

In [48]:
float(bool2)

0.0

In [49]:
str(bool2)

TypeError: 'str' object is not callable